:root {
  --line-chart-color: #c02739;
  --annotation-context-color: #03dac5;
}

body {
  background-color: #121212;
}

#caseplot {
}

.line {
  fill: none;
  stroke: var(--line-chart-color);
  stroke-width: 5px;
}

.axis text {
  fill: rgba(255,255,255,0.6);
  font-size: 13px;
}

.axis path, .axis line {
  stroke: var(--line-chart-color);
}

.annotation path {
  stroke: var(--annotation-context-color);
  stroke-dasharray: 1,3;
  stroke-width: 3px;
}

.annotation text {
  fill: var(--annotation-context-color);
  font-size: 22px;
  font-weight: bold;
}
