:root {
  --bg-color: #222831;
  --line-chart-color: #00adb5;
  --annotation-context-color: #eeeeee;
  --axis-color: rgba(255,255,255,0.8);
}

body {
  background-color: var(--bg-color);
}

.line {
  fill: none;
  stroke: var(--line-chart-color);
  stroke-width: 5px;
}

.axis text {
  fill: var(--axis-color);
  font-size: 13px;
}

.axis path, .axis line {
  stroke: var(--line-chart-color);
}

.annotation path {
  stroke: var(--annotation-context-color);
  stroke-dasharray: 1,3;
  stroke-width: 3px;
}

.annotation text {
  fill: var(--annotation-context-color);
  font-size: 22px;
  font-weight: bold;
}
